@media screen and (max-width: 420px) {
  header{
    width: 100vw;
  }
  header .main{
    flex-direction: column;
    margin-top: 20px;
  }
  .intro{
    justify-content: center;
  }
  .intro h1{
    font-size: 2em;
  }
  .intro h2{
    font-size: 1em;
    margin-right: 10px;
  }
  .intro .content{
    width: 80%;
  }
  .intro .comment{
    margin-top: 20px;
    font-size: 0.9em;
  }
  .profile{
    align-items: flex-start;
    justify-content: center;
  }
  .main .intro div button{
    font-size: 0.8em;
    height: 40px;
    width: 130px;
    border-radius: 8px;
  }
  .profile img{
    height: 300px;
  }
}